body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.ant-layout-content {
  min-height: 0 !important;
  padding: 15px 10px !important;
  margin: 0 !important;
}

*::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: #afcdf7;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #1677ff;
}

.swal2-popup.swal2-modal{
  border-radius: 8px;

  .swal2-icon{
    box-sizing: content-box !important;
  }

  .swal2-icon.swal2-info {
    border-color: rgb(37, 99, 235) !important;
    color: rgb(37, 99, 235);
  }
}